@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Roboto Regular '), local('Roboto-Regular'), url('/font/roboto-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/roboto-latin-400.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Roboto Medium '), local('Roboto-Medium'), url('/font/roboto-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/roboto-latin-500.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Roboto Bold '), local('Roboto-Bold'), url('/font/roboto-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/roboto-latin-700.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Exo Regular '), local('Exo-Regular'), url('/font/exo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/exo-latin-400.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Exo Medium '), local('Exo-Medium'), url('/font/exo-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/exo-latin-500.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Exo Bold '), local('Exo-Bold'), url('/font/exo-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/exo-latin-700.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'br_icons';
  src: url(/font/532530315876da830b3a0f6187ba015e.eot);
  src: url(/font/532530315876da830b3a0f6187ba015e.eot#iefix) format("embedded-opentype"), url(/font/a5dd7a0f6b249ebca324b28d34f62d9e.ttf) format("truetype"), url(/font/20df5a81b57e322b815b2477ef48b7a3.woff) format("woff"), url(/font/c816e466915b36c65aff9e5bbbb0e749.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="br-icon-"],
[class*=" br-icon-"] {
  font-family: 'br_icons';
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.br-icon-print:before {
  content: "\E900";
}

.br-icon-edit:before {
  content: "\E902";
}

.br-icon-pause:before {
  content: "\E904";
}

.br-icon-stop:before {
  content: "\E905";
}

.br-icon-rec:before {
  content: "\E906";
}

.br-icon-download:before {
  content: "\F019";
}

.br-icon-search-plus:before {
  content: "\F00E";
}

.br-screenshot-thumb-wrapper {
  position: relative;
}

.br-screenshot-thumb {
  margin: auto;
  width: 308px;
  height: 191px;
}

.br-screenshot-thumb a,
.br-screenshot-thumb a:hover {
  text-decoration: none;
}

.br-screenshot-zoom {
  transition: opacity .1s ease-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.br-screenshot-zoom:hover,
.br-screenshot-zoom:active,
.br-screenshot-zoom:focus {
  opacity: 1;
}

.br-screenshot-zoom-link {
  height: 100%;
  width: 100%;
  display: block;
}

.br-screenshot-bigzoom {
  color: #fff;
  font-size: 50px;
  padding-left: 126px;
  line-height: 186px;
}

.br-screenshot-tools {
  text-align: center;
  padding: 0 5px;
  float: right;
  background-color: transparent;
  font-size: 14px;
  position: relative;
  z-index: 1;
  margin-top: 140px;
  margin-right: 6px;
  display: -webkit-flex;
  display: flex;
  align-content: center;
  justify-content: space-around;
  transition: opacity .1s ease-out;
}

.br-screenshot-tools .br-icon-trash,
.br-screenshot-tools .br-icon-search-plus,
.br-screenshot-tools .br-icon-download {
  transition: color .1s ease-out;
  color: #fff;
}

.br-screenshot-tools__btn {
  height: 40px;
  width: 40px;
  padding: 0px;
  margin: 6px;
  border-color: #E3E3E3;
  border-width: 1px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .1s ease-out;
  background-color: white;
  opacity: 1;
}

.br-image-button {
  margin-left: 18px;
}

.br-image-button:nth-child(1) {
  margin-left: 0;
}

.br-image-button:active,
.br-image-button:hover {
  transition: opacity .1s ease-out;
  opacity: 1;
}

#br-screenshot-save {
  margin-top: 5px;
}

.br-screenshot,
.br-screenshot:active {
  background-image: url("/img/screenshot.svg");
}

.br-download,
.br-download:active {
  background-image: url("/img/download.svg");
}

.br-trash,
.br-trash:active {
  background-image: url("/img/trash.svg");
}

.br-screenshot-block {
  opacity: 1;
  transition: opacity .1s ease-out;
  width: 308px;
  height: 191px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #111;
  background-size: contain;
}

body {
  overflow-y: auto;
}

.br-button-panel__btn {
  height: 58px;
  width: 58px;
  padding: 0px;
  border-color: #E3E3E3;
  border-width: 1px;
  border-radius: 50%;
}

.br-image-button {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .1s ease-out;
  opacity: .8;
}

.br-can-stop,
.br-can-stop:active {
  background-image: url("/img/rec-stop-toggle-stopmode.svg");
}

.br-can-record,
.br-can-record:active {
  background-image: url("/img/video-camera.svg");
}

.br-can-record-desktop,
.br-can-record-desktop:active {
  background-image: url("/img/desktop.svg");
}

.br-button-panel__separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F9F6F6;
  padding: 0;
  clear: both;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.system_font {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.br-report-status {
  color: #aaaaaa;
  font-size: .8em;
}

.clearer {
  clear: both;
  height: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.br-button-wrapper {
  text-align: center;
}

.footer-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F9F6F6;
  padding: 0;
  clear: both;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.br-error-wrapper {
  margin: 10px;
  font-size: 9pt;
  padding: 5px;
  border: 1px solid transparent;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 4px;
  max-width: 408px;
  margin-left: auto;
  margin-right: auto;
}

.br-errors a {
  text-decoration: underline;
  font-weight: bold;
}

.br-errors ul,
.br-errors li {
  list-style-type: none;
}

.br-errors ol {
  padding: 0;
}

ul.br-errors {
  margin: 0;
  padding: 0;
}

video:focus {
  outline: 0;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.header {
  padding: 7px;
  background-color: #d9d9d7;
  color: #666;
  margin-bottom: 10px;
}

.cancel-header .br-error-wrapper {
  font-size: 16px;
  padding: 10px;
}

.header p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.header a {
  color: #666;
}

.recording_submit_form {
  min-width: 400px;
  padding: 15px 10px;
}

.recording_submit_form label {
  font-weight: 400;
}

.recording_submit_form input,
.recording_submit_form textarea {
  margin-bottom: 5px;
}

.button_row {
  margin: 10px 0;
  padding: 0 10px;
  text-align: center;
}

.button_row>a {
  margin-right: 5px;
}

.button_row>a:last-child {
  margin-right: 0;
}

.loading-el {
  width: 300px;
  text-align: center;
  color: #999999;
  padding: 20px;
}

.loading-el--spinner {
  color: #82c1e8;
}

.loading-el--subheading {
  margin: 0px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 5px;
}

.loading-el--list {
  list-style-type: none;
  padding-left: 0px;
}

.loading-el--listitem {
  font-size: 10px;
  font-weight: lighter;
}

.br-report-status__status--failed {
  color: #FF4136;
}

.br-report-status__status--processing {
  color: #999999;
}

.br-report-status__status--completed {
  color: #999999;
}

.br-report-status__status {
  font-size: .8em;
}

.truncate {
  width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.br-form-group {
  padding-top: 5px;
}

.br-bug-description,
.br-bug-resume {
  padding: 5px;
  min-width: 320px;
  margin-top: 10px;
}

.br-bug-description .br-form-group,
.br-bug-resume .br-form-group {
  margin-bottom: 5px;
}

.br-bug-description input,
.br-bug-resume input {
  display: block;
  margin-top: 5px;
  width: 95%;
}

.br-bug-description textarea,
.br-bug-resume textarea {
  display: block;
  width: 95%;
  height: 42px;
}

.br-bug-description select,
.br-bug-resume select {
  display: block;
  width: 95%;
  height: 42px;
}

.br-bug-description a.button,
.br-bug-resume a.button {
  font-size: 12px;
}

#chrome-popup-transition-broken {
  width: 300px;
  height: 250px;
}

.br-subsection-heading {
  border-top: 1px solid #dddddd;
  padding-top: 5px;
}

.form-control {
  font-weight: normal;
}